@import "~bootstrap/scss/bootstrap";

body {
  background-color: aqua;
}

#messages {
  flex-flow: wrap;
  flex-direction: row;
  width : 1080px;
  height : auto;
  align-self: center;
  margin-left: 28%;
  margin-right: 28%;
  padding: 5px;
  .card {
    padding: 5px;
  }
}
