@import "~bootstrap/scss/bootstrap";

body {
  background-color: aqua;
}

#navbar {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  align-self: center;

  #message-input {
    height: 200px;
    width: 400px;
    text-align: center;
  }
}
#messages {
  flex-flow: wrap;
  flex-direction: row;
  width : 800px;
  height : auto;
  align-self: center;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;

  .card {
    padding: 5px;
    height: auto;
    width: 800px;
  }
}
